<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.drive_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:./dbHibernate.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="showSql">false</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!--        <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
        <mapping class="org.example.Book"/>
        <mapping class="org.example.Author"/>
    </session-factory>
</hibernate-configuration>